.form-group {
    display:block;
    width:30%;
    margin:0 auto;
}

button{
    margin-top: 30px;
}

.story{
    width: 100%;
    text-align: left;
    color: #004d00;
    margin-top: 1px;
}

footer{
    margin-top: 30px;
}

list-group-item-success{
    opacity: 0.7;
}